blinker==1.9.0
click==8.3.0
colorama==0.4.6
Flask==3.1.2  # ana flask framework web sunucusunu çalıştırır,HTTP, request     response yönetimi sağlar ve route tanımlamalarını yapmamıza imkan verir.
Flask-SQLAlchemy==3.1.1  # flask için SQL Alchemy entegrasonu
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
SQLAlchemy==2.0.44  #ORM veritabanı işlemleri
typing_extensions==4.15.0
Werkzeug==3.1.3
